@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mooli';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background-color: #white;
}

.condition {
    padding-right: 5vh;
}

.game-board {
    width: 65vmin;
    height: 70vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
}

.details {
    color:aliceblue;
    font-size: 14px;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: center;
}

.board {
   width: 100%;
   height: 100%;
   display: grid;
   grid-template: repeat(40, 1fr) / repeat(40, 1fr);
   background-color: rgb(31, 28, 28) ;
}

.board .food {
    background: red
}

.board .snake {
    background: rgb(39, 182, 87)
}